@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1200px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	/*________AllPaddingContainer________*/
	.container,
	.container-fluid {padding: 0px 30px;}

	.navbar {padding: 30px 0px 0px 0px;}

	.header_content,
	.content_header {padding: 60px 0px 30px 0px;}

	.testimonials,
	.services {padding: 70px 0px;}

	.featured {padding-top: 60px;}

	.rectangle,
	.team {padding-bottom: 60px;}

	.footer_container {
		padding: 40px 30px 0px 12px;
		.footer_forms .row:last-child {padding-bottom: 74px;}
		.social_link_container {padding: 6px 0px;}
	}

	/*________Fixed_Text_Style________*/
	body {line-height: 12px;}

	h1 {
		font-size: 15px;
		margin: 0;
	}

	h6 {font-size: 8px;}

	p,input {font-size: 8px;}

	a,time {font-size: 6px;}

	button {font-size: 6px;}

	/*________Hedaer________*/
	.header_content {
		h1 {
			font-size: 34px;
			margin-bottom: 16px;
		}
	}

	.second_nav {
		padding: 0px 0px 50px 0px;

		li {padding-right: 10px;}
	}

	/*________Content________*/

	/**/
	.about {
		.content_header {padding-bottom: 0px;}
		.about_colum {
			padding: 40px 0px 70px 0px;
			img {margin-bottom: 10px;}
		}
	}

	

	.header_content img,
	.about .about_colum img,
	.rectangle .rectangle_text img,
	.services .services_colum .services_items img,
	.featured .featured_rows .featured_rows_item img {
		margin-bottom: 15px;
		max-width: 30px;
		min-width: 30px;
		max-height: 30px;
		min-height: 30px;
	}

	/**/
	.featured {
		.featured_nav {
			padding-bottom: 10px;
			h1 {padding-bottom: 5px;}
		}

		.featured_rows .featured_rows_item {
			padding: 15px 0px 15px 15px;

			img {margin: 0;}

			.featured_item_text {
				margin-bottom: 70px;
				p {font-size: 6px;}
			}
		}
	}

	/**/
	.team {
		.col-md-3 {height: 160px;}

		.team_items:first-child >img {
			max-height: 90px;
			min-height: 90px;
		}

		.team_items {
			.team_text {padding: 8px 0px 10px 0px;}
			.team_links {padding-bottom: 10px;}
		}

		.team_items:hover:first-child >img {
			max-height: 80px;
			min-height: 80px;
		}
	}

	/**/
	.posts {
		padding: 90px 0px 40px 0px;

		.posts_nav {
			ul {margin-bottom: 20px;}
			h1 {margin-bottom: 15px;}
		}

		.posts_items {
			img {
				max-height: 150px;
				min-height: 150px;
			}

			.posts_baner {
				padding: 0px 8px;
				margin-top: 14px;
				h6 {
					font-size: 6px;
					margin: 4px 0px;
				}
			}
		}
	}

	/**/
	.testimonials { 
		padding: 60px 0px;
		.slider_content {
			padding: 25px 0px;
			img {
				margin-right: 16px;
				max-width: 40px;
				min-width: 40px;
				max-height: 40px;
				min-height: 40px;
			}
		}
		.slider_nav {margin-top: 20px;}
	}

	/**/
	.footer_container {
		h1 {padding-bottom: 5px;}
		.row {margin-bottom: 25px;}
		button {padding: 5px 0px;}
	}

	/**/
	.social_link {
		img {
			max-width: 8px;
			min-width: 8px;
			max-height: 8px;
			min-height: 8px;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	/*________AllPaddingContainer________*/
	.container,
	.container-fluid {padding: 0px 60px;}

	.navbar {padding: 30px 0px 0px 0px;}

	.header_content {padding: 140px 0px 40px 0px;}

	.featured {padding-top: 90px;}

	.rectangle,
	.team {padding-bottom: 90px;}

	.content_header {padding: 90px 0px 60px 0px;}

	.footer_container {
		padding: 40px 60px 0px 22px;
		.footer_forms .row:last-child {padding-bottom: 104px;}
		.social_link_container {padding: 12px 0px;}
	}

	/*________Fixed_Text_Style________*/
	body {line-height: 14px;}

	h1 {font-size: 20px;}

	h6 {font-size: 11px;}

	p,input {font-size: 10px;}

	a,time {font-size: 8px;}

	button {font-size: 8px;}

	.second_nav {padding: 0px 0px 46px 0px;}

	.header_content h1 {font-size: 42px;}

	/**/
	.about .about_colum {
		padding: 70px 0px 100px 0px;

		img {
			margin-bottom: 15px;
			max-width: 40px;
			min-width: 40px;
			max-height: 40px;
			min-height: 40px;
		}
	}

	/**/
	.featured {
		.featured_nav {
			padding-bottom: 20px;
			h1 {padding-bottom: 15px;}
		}

		.featured_rows .featured_rows_item {
			padding: 20px 0px 20px 20px;
			.featured_item_text {
				margin-bottom: 100px;
				p {font-size: 8px;}
			}
		}
	}

	/**/
	.team {
		.team_items:first-child >img {
			max-height: 110px;
			min-height: 110px;
		}

		.team_items .team_text {padding: 10px 0px 14px 0px;}

		.team_items:hover:first-child >img  {
			max-height: 100px;
			min-height: 100px;
		}
	}

	/**/
	.posts {
		.posts_nav {
			h1,ul {margin-bottom: 25px;}
			ul li {margin-bottom: 6px;}
		}

		.posts_items {
			img {
				max-height: 200px;
				min-height: 200px;
			}

			.posts_baner {
				margin-top: 18px;
				h6 {
					font-size: 8px;
					margin: 8px 0px;
				}
			}
		}
	}

	/**/
	.testimonials .slider_nav {margin-top: 40px;}

	/**/
	.footer_container {
		h1 {padding-bottom: 12px;}
		.row {margin-bottom: 32px;}
		button {padding: 10px 0px;}
	}

	.social_link {
		img {
			max-width: 12px;
			min-width: 12px;
			max-height: 12px;
			min-height: 12px;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	/*________AllPaddingContainer________*/
	.container, .container-fluid {padding: 0px 90px;}

	.header_content {padding: 250px 0px 70px 0px;}

	.content_header {padding: 120px 0px 90px 0px;}

	.featured {padding-top: 120px;}

	.rectangle,
	.team {padding-bottom: 120px;}

	.footer_container {
		padding: 70px 90px 0px 32px;
		.footer_forms .row:last-child {padding-bottom: 134px;}
		.social_link_container {padding: 22px 0px;}
	}

	/*________Fixed_Text_Style________*/
	body {line-height: 18px;}

	h1 {font-size: 28px;}

	h6 {font-size: 14px;}

	p,input {font-size: 12px;}

	a,time {font-size: 12px;}

	button {font-size: 10px;}

	/**/
	.about .about_colum {
		padding: 100px 0px 130px 0px;

		img {
			margin-bottom: 20px;
			max-width: 50px;
			min-width: 50px;
			max-height: 50px;
			min-height: 50px;
		}
	}

	/**/
	.featured {
		.featured_nav {
			padding-bottom: 40px;
			h1 {padding-bottom: 20px;}
		}

		.featured_rows .featured_rows_item {
			padding: 25px 0px 25px 30px;

			img {
				max-width: 40px;
				min-width: 40px;
				max-height: 40px;
				min-height: 40px;
			}

			.featured_item_text {
				margin-bottom: 135px;
				p {font-size: 10px;}
			}
		}
	}

	/**/
	.team {
		.col-md-3 {height: 260px;}

		.team_items:first-child >img {
			max-height: 160px;
			min-height: 160px;
		}

		.team_items .team_text {padding: 15px 0px 18px 0px;}

		.team_items:hover:first-child >img {
			max-height: 140px;
			min-height: 140px;
		}
	}

	/**/
	.posts {
		padding: 120px 0px 70px 0px;

		.posts_nav {
			h1,ul {margin-bottom: 30px;}
			ul li {margin-bottom: 12px;}
		}

		.posts_items {
			img {
				max-height: 250px;
				min-height: 250px;
			}

			.posts_baner {
				margin-top: 20px;
				h6 {
					font-size: 12px;
					margin: 10px 0px;
				}
			}
		}
	}

	/**/
	.testimonials .slider_content img {
		max-width: 54px;
		min-width: 54px;
		max-height: 54px;
		min-height: 54px;
	}

	/**/
	.footer_container {h1 {padding-bottom: 42px;}}

	.social_link {
		img {
			max-width: 16px;
			min-width: 16px;
			max-height: 16px;
			min-height: 16px;
		}
	}
}

@media (max-width: 1400px) {
	.team .col-md-3,
	.posts .posts_items,
	.about_colum .col-md-4 {padding: 0px 15px;}

	.navbar-dark .navbar-brand {
		width: 16%;
		img {
			max-width: 100%;
			min-width: 100%;
			max-height: 100%;
			min-height: 100%;
		}
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	/*________AllPaddingFixed________*/
	.container, 
	.container-fluid {padding: 0px 120px;}

	.navbar {padding: 50px 0px 0px 0px;}

	.header_content {padding: 250px 0px 70px 0px;}

	.testimonials,
	.services {padding: 100px 0px;}

	.featured {padding-top: 150px;}

	.rectangle,
	.team {padding-bottom: 150px;}

	.content_header {padding: 150px 0px 120px 0px;}

	.footer_container {
		padding: 100px 120px 0px 42px;
		.footer_forms .row:last-child {padding-bottom: 164px;}
		.social_link_container {padding: 32px 0px;}
	}

	/*________Fixed_Text_Style________*/
	body {line-height: 26px;}

	h1 {font-size: 36px;}

	h6 {font-size: 18px;}

	p,input {font-size: 16px;}

	a,time {font-size: 14px;}

	button {font-size: 12px;}

	/**/
	.second_nav {
		padding-bottom: 84px;
		li {padding-right: 28px;}
	}

	/**/
	.header_content {
		padding: 260px 0px 60px 0px;

		img,
		.second_nav {margin: 0;}

		h1 {font-size: 68px;}
	}

	.header_content img,
	.featured_rows_item img {
		max-width: 52px;
		min-width: 52px;
		max-height: 52px;
		min-height: 52px;
	}

	/**/
	.header_content {
		img,
		.second_nav {margin: 0;}

		h1 {
			font-size: 58px;
			margin-bottom: 32px;
		}

		img {
			max-width: 52px;
			min-width: 52px;
			max-height: 52px;
			min-height: 52px;
		}
	}

	/**/
	.about .about_colum {
		padding: 120px 0px 150px 0px;

		h6 {margin-bottom: 12px;}

		img {
			margin-bottom: 28px;
			max-width: 76px;
			min-width: 76px;
			max-height: 76px;
			min-height: 76px;
		}
	}

	/**/
	.featured {
		.featured_nav {
			padding-bottom: 56px;
			h1 {padding-bottom: 32px;}
		}

		.featured_rows .featured_rows_item {
			padding: 32px 0px 32px 42px;

			img {
				max-width: 52px;
				min-width: 52px;
				max-height: 52px;
				min-height: 52px;
			}

			.featured_item_text {
				margin-bottom: 152px;
				p {font-size: 12px;}
			}
		}
	}

	/**/
	.services_colum {
		.row div:nth-child(1) {padding-left: 0;}
		.row div:nth-child(2) {padding-right: 0;}
		.services_items {padding: 0px 19px;}
	}

	/**/
	.rectangle .rectangle_text img,
	.services .services_colum .services_items img {
		max-width: 38px;
		min-width: 38px;
		max-height: 38px;
		min-height: 38px;
		margin-bottom: 24px;
	}

	/**/
	.team {
		.col-md-3 {
			padding: 0px 20px;
			height: 360px;
		}


		.team_items:first-child >img {
			max-height: 180px;
			min-height: 180px;
		}

		.team_items {
			.team_text {padding: 20px 0px 22px 0px;}
			.team_links {padding-bottom: 26px;}
		}

		.team_items:hover:first-child >img {
			max-height: 160px;
			min-height: 160px;
		}
	}

	/**/
	.posts {
		padding: 150px 0px 100px 0px;

		.posts_nav {
			h1 {margin-bottom: 55px;}
			ul {margin-bottom: 43px;}
		}

		.posts_items {
			padding: 0px 20px;
			img {
				max-height: 350px;
				min-height: 350px;
			}

			.posts_baner {
				padding: 0px 14px;
				margin-top: 24px;
				h6 {
					font-size: 14px;
					margin: 12px 0px;
				}
			}
		}
	}

	/**/
	.testimonials {
		.slider_content {
			padding: 46px 0px;
			img {
				max-width: 64px;
				min-width: 64px;
				max-height: 64px;
				min-height: 64px;
			}
		}

		.slider_nav {margin-top: 57px;}
	}

	/**/
	.footer_container {.row {margin-bottom: 32px;}}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}